<div class="Card" onClick="window.location = '/event/{{id}}';">
  <div class="CardImage" style="background-image: url({{image}})"></div>
  <div class="CardDetails">
    <h2>{{title}}</h2>
    <p>{{shortDescription}}</p>
  </div>
</div>