<header>
  <div class="Container">
    Friends Events
  </div>
</header>
<main>
  <div class="Container">
    <section>
      <p>Signed in as {{name}}.
        <a href="/logout">Log out</a>
      </p>
    </section>
    <div class="CardList">
      {{#each events}} {{> event}} {{/each}} {{> fakeEvent}}
    </div>
  </div>
</main>