<header>
  <div class="Container">
    Friends Events
  </div>
</header>
<main>
  <div class="Container">
    {{#if user}}
    <section>
      <span>Signed in as {{user.name}}.
        <a href="/logout">Log out</a>
      </span>
    </section>
    {{/if}}
    <div class="CardList">
      {{#each events}} {{> event}} {{/each}} {{> fakeEvent}}
    </div>
  </div>
</main>