<header>
  <div class="Container">
    Friends Events
  </div>
</header>
<main>
  <div class="Container">
    <section>
      {{#if user}}
      <span>Signed in as {{user.name}}.
        <a href="/logout">Log out</a>
      </span>
      {{else}}
      <a href="/login" class="Button">Sign in</a>
      {{/if}}
    </section>
    <div class="CardList">
      {{#each events}} {{> event}} {{/each}} {{> fakeEvent}}
    </div>
  </div>
</main>