* {
  box-sizing: border-box;
}

body,
html {
  background-color: #e7e6f8;
  padding: 0;
  margin: 0;
  font: 1em/1.2 "Roboto", sans-serif;
}

header .Container,
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

input,
button,
select,
.Button {
  padding: 16px;
  font: inherit;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: white;
}

input,
select {
  width: 100%;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form.Form--vertical {
  display: block;
}

form.Form--vertical input {
  margin-bottom: 8px;
}

form input,
form select {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 16px;
}

button,
.Button {
  padding: 16px 32px;
  font-weight: bold;
  background-color: darkslateblue;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.12),
    0 0 0.1rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.12),
    0 0 0.1rem rgba(0, 0, 0, 0.12);
}

.Container {
  max-width: 700px;
  margin: auto;
  padding: 0px 16px;
}

header .Container {
  padding: 32px 16px;
  font-size: 3rem;
}

.Card {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.12),
    0 0 0.1rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.12),
    0 0 0.1rem rgba(0, 0, 0, 0.12);
}

.CardImage {
  background-color: darkslateblue;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.Card .CardDetails {
  padding: 16px 24px;
}

.CardList .Card {
  margin-bottom: 32px;
}

.KeyValue {
  margin: 16px 0;
}

.KeyValue .Key {
  font-weight: bold;
  margin-bottom: 4px;
}

section {
  margin-bottom: 16px;
}

.Small {
  font-size: 0.9rem;
  font-style: italic;
}
